<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service (Windows) configuration.
  Routes all traffic through iisnode to app.js.
  Enables WebSocket support for Socket.IO real-time consultations.
-->
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="app" patternSyntax="Wildcard">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode node_env="production"
             watchedFiles="web.config;*.js"
             loggingEnabled="true"
             logDirectory="iisnode" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
